[Unit]
Description=Custom smarthome application

[Service]
Type=simple
ExecStart=/usr/bin/smarthome --syslog
ExecReload=/bin/kill -HUP $MAINPID
User=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=smarthome

[Install]
WantedBy=multi-user.target

